@charset "UTF-8";

*{
    border-radius: 10px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: yellow;
    grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightseagreen;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgreen;
    grid-area: 2 / 3 / -1 / -1;
}