@charset "UTF-8";

/* Versão para todas as outras mídias */

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 1024px
Desktop: 1024px até 1440px
Grandes telas: acima de 1440px
*/

@media print { /*Impressão*/

}

@media screen and (min-width: 768px) and (max-width: 1024px) { /*Tablets*/

}

@media screen and (min-width: 1024px) and (max-width: 1440px) { /*Desktop*/

}

@media screen and (min-width: 1440px) { /*Telas grandes*/

}