@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 1024px
Desktop: 1024px até 1440px
Grandes telas: acima de 1440px
*/

/*Configuração para fazer menu ficar em forma de lista quando estiver em telas */

@media screen and (max-width: 600px){
    header {
        padding: 0px;

        display: flex;
        flex-flow: column nowrap;
    }

    header > div {
        margin-bottom: 0px;
        text-align: center;
    }
    
    header > div > a {
        display: block;

        border: 1px solid black;
        border-radius: 0px;
    }
}